<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ZhongZhuang | Fund</title>
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link href="css/user-info.css" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<header id="header">
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1><img height="80" width="200" src="images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="index_cn.html">主页</a></li>
                    <li class="dropdown"><a href="finance.html">基金项目</a>

                    </li>
                    <li class="dropdown"><a href="about_info.html">关于我们 <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="about_info.html">关于众庄</a></li>
                            <li><a href="about_finance.html">数字资产组合</a></li>
                            <li><a href="about_service.html">服务条款</a></li>
                            <li><a href="about_duty.html">免责声明</a></li>
                            <li><a href="about_investor.html">投资者通知</a></li>
                        </ul>
                    </li>

                </ul>

            </div>



        </div>
    </div>
</header>
<!--/#header-->

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">个人资料</h1>
                        <p>配置</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="blog" class="padding-top" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">

                    <div class="sidebar-item categories">
                        <h3>信息设置</h3>
                        <ul class="nav navbar-stacked">
                            <li class="active"><a href="#">钱包<span class="pull-right"></span></a></li>
                            <li><a href="./information_user.html">账号设置<span class="pull-right"></span></a></li>
                            <li><a href="./information_changepass.html">修改密码<span class="pull-right"></span></a></li>
                            <li><a href="javascript:void(0)" onclick="exit()">退出登录<span class="pull-right"></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-9 col-sm-9" id="money-record">
                    <div class="col-md-12 col-sm-12">

                        <div class="col-md-12">
                            <ul style="padding: 0">

                                <h2 >钱包金额：</h2>

                            </ul>

                            <ul style="padding: 0">
                                <li v-for="w in wallets">
                                    <span class="label label-success" > {{w.type}}</span> : {{w.money}}
                                    <p></p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-9">
                            <ul id="tab1" class="nav nav-tabs">
                                <li class="active"><a href="#tab1-item1" data-toggle="tab">充值</a></li>
                                <li><a href="#tab1-item2" data-toggle="tab">提现</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab1-item1">
                                    <div class="panel panel-default must-text">
                                        <div class="panel-heading">合作承兑商充币须知</div>
                                        <div class="panel-body">
                                            炒币有风险，投资需谨慎！
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                    <ul class="list-group qq-list">
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台充值-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台充值-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台充值-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台充值-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <div style="clear: both"></div>
                                    </ul>
                                    </div>
                                    <!--<div class="contact-form bottom" >-->

                                        <!--<p>支付方式：</p>-->
                                        <!--<ul id="tab2" class="nav nav-pills">-->
                                            <!--<li class="active"><a href="#tab2-item1" data-toggle="tab">银联</a></li>-->
                                            <!--<li><a href="#tab2-item2" data-toggle="tab">支付宝</a></li>-->
                                            <!--<li><a href="#tab2-item3" data-toggle="tab">微信</a></li>-->
                                        <!--</ul>-->


                                        <!--<h1></h1>-->

                                        <!--<div class="form-group">-->
                                            <!--<input type="text" name="name" class="form-control" required="required" placeholder="充值（金额）">-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<input type="email" name="email" class="form-control" required="required" placeholder="充值（支付密码）">-->
                                        <!--</div>-->


                                    <!--</div>-->
                                    <!--<button type="button" class="btn btn-lg btn-success">充值</button>-->

                                </div>
                                <div class="tab-pane fade" id="tab1-item2">
                                    <div class="panel panel-default must-text">
                                        <div class="panel-heading">合作承兑商提币须知</div>
                                        <div class="panel-body">
                                            提币之前先于客服联系，再进行提币操作。
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                    <ul class="list-group qq-list">
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台提现-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台提现-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台提现-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes"><li class="list-group-item">
                                            <img src="images/qq-icon.png" />
                                            <span class="name">24小时平台提现-小淘（在线）</span><br/>
                                            <span class="num">464147349</span>
                                        </li></a>
                                        <div style="clear: both"></div>
                                    </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-11 col-sm-11">
                                        <div class="contact-form bottom">
                                            <p>最大可提币数量：<span class="label label-success" >{{USDT.money}} USDT</span></p>

                                            <div class="form-group">
                                                <input id="sellMoney" type="text" name="name" class="form-control" required="required" placeholder="输入要提的usdt数量">
                                            </div>

                                            <div class="form-group">
                                                <input id="sellUSDT" type="button" name="submit" onclick="sellUSDT()" class="btn btn-submit" value="提现">
                                            </div>

                                        </div>
                                    </div>

                                    </div>
                                    </div>
                        </div>
                        <ul class="list-group col-md-12 money-record">
                            <li class="list-group-item list-group-item-success">充值提现记录</li>
                            <li class="list-group-item" v-for="r in moneyRecord">
                                交易订单:#{{r.id}} 交易日期:{{r.exchangeDate}} {{r.exchangeType}}:{{r.money}}USDT {{r.exchangeType}}方式:{{r.exchangePlatform}} <br/>交易状态:{{r.status}}
                            </li>
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous"><a href="javascript:void(0)" v-on:click="prePage()"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                                    <li class="page-num-text">{{currentPage}}/{{totalPages}}</li>
                                    <li class="next"><a href="javascript:void(0)" v-on:click="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                                </ul>
                            </nav>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->


<div class="col-sm-12 text-center bottom-separator">
    <img src="images/home/under.png" class="img-responsive inline" alt="">
</div>
<footer id="footer">
    <div  class="container" >
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">

                    <div class="media">


                        <div class="media-body">

                            <blockquote>在别人贪婪时要保持警惕，而在别人警惕时就要贪婪</blockquote>
                            <h3><a href="https://baike.baidu.com/item/沃伦·巴菲特/472378?fr=aladdin">- 巴菲特</a></h3>
                        </div>
                    </div>
                    <div class="media">

                        <div class="media-body">

                            <blockquote>世界经济史是一部基于假象和谎言的连续剧</blockquote>
                            <h3><a href="https://baike.baidu.com/item/乔治·索罗斯/1654563?fr=aladdin">- 索罗斯</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>

                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br>
                        Feeder Road, <br>
                        Bristol, BS2 0UY <br>
                        United Kingdom <br>
                    </address>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required class="form-control" rows="8" placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; ZhongZhuang Fund 2018. All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="http://www.zhongzhuang.fund">http://www.zhongzhuang.fund</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--/#footer-->
<!-- qq 客服-->
<div class="suspension">
    <div class="suspension-box">
        <a href="#" class="a a-service "><i class="i"></i></a>
        <a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
        <a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
        <a href="javascript:;" class=" a-top"><img height="90" width="40" src="images/home/rocket.png" alt=""></a>
        <div class="d d-service">
            <i class="arrow"></i>
            <div class="inner-box">
                <div class="d-service-item clearfix">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes" target="_blank" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>咨询在线客服</h3></a>
                </div>
            </div>
        </div>
        <div class="d d-service-phone">
            <i class="arrow"></i>
            <div class="inner-box">
                <div class="d-service-item clearfix">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes" target="_blank" class="circle"><i class="i-qq"></i></a>
                    <div class="text">
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes" target="_blank">充值服务</a>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=464147349&site=qq&menu=yes" target="_blank" class="number">464147349</a>
                    </div>
                </div>
                <div class="d-service-intro clearfix">
                    <p><i></i>如何充值</p>
                    <p><i></i>如何买入</p>
                    <p><i></i>如何卖出</p>
                    <p><i></i>如何提现</p>
                </div>
            </div>
        </div>
        <div class="d d-qrcode">
            <i class="arrow"></i>
            <div class="inner-box">
                <div class="qrcode-img"><img src="images/side_ewm.jpg" alt=""></div>
                <p>微信服务号</p>
            </div>
        </div>

    </div>
</div>

<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="js/common/config.js"></script>
<script src="js/common/common.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script type="text/javascript" src="js/user-money.js"></script>
</body>
</html>
