.tab-content{
    padding-top: 0;
}
.must-text .panel-heading{
    background: #f5e79e;
}

.qq-list li{
    float: left;
    margin: 10px;
    width: 240px;
    height: 60px;
    position: relative;
}

.qq-list li img{
    position: absolute;
    left:5px;
    top:7px;
    height: 40px;
}

.qq-list li span{
    margin-left: 30px;
    font-size:13px;
    line-height:16px;
    float: left;
}
.qq-list li span.name{
    color: #e73f3f;
}